<h1 style="color:#004d00;size:6;text-align:center;"><%= @player_1_name %> viciously attacked his arch-nemesis, <%= @player_2_name %>!!!</h1>
<h2 style="color:#004d00;size:6;text-align:center;"><%= @player_2_name %>'s HP goes down by 20! Shitballs! <%= @player_2_name %>'s health is now at: <%=$player_2.hit_points%>HP</h2> 
<div style='border: 3px double red'>
  <img src='http://49.media.tumblr.com/e4da3090e08789c6432b034c9d2591c0/tumblr_mzi7ktPV6s1r6jnjdo1_400.gif'>
</div>
