<h1 style="color:#004d00;size:6;text-align:center;"><%= @player_1.name %> viciously attacked his arch-nemesis, <%= @player_2.name %>!!!</h1>
<h2 style="color:#004d00;size:6;text-align:center;"><%= @player_2.name %>'s HP goes down by 20! Shitballs! <%= @player_2.name %>'s health is now at: <%=@player_2.hit_points%>HP</h2>
<p><progress id="p2" value="<%= @player_2.hit_points %>" max="100"> </progress></p>
<img style='border: 3px double red' src='http://49.media.tumblr.com/e4da3090e08789c6432b034c9d2591c0/tumblr_mzi7ktPV6s1r6jnjdo1_400.gif'>
