<img style='border: 3px double red' src='http://i.imgur.com/e8a5w9s.gif'>

<h1 style="color:#004d00;size:6;text-align:center;"><%= @player_1.name %> vs. <%= @player_2.name %></h1>
<h2><%= @player_1.name %>: <%= @player_1.hit_points %>HP</h2>
<h2><%= @player_2.name %>: <%= @player_2.hit_points %>HP</h2>
<img style='border: 3px double red' src='http://i.imgur.com/e8a5w9s.gif'>

<form action= "/attack">
  <input type="submit" value="Attack!!!">
</form>
